.max-title-graphic {
    max-width: 800px;
    margin-inline: auto;
}

.spinner {
  border: 6px solid #3345ca;
  border-top: 9px solid #fa0000;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  animation: spin 2s linear infinite;
  margin-inline: auto;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #f8f9fa;
  text-align: center;
}

.loading-front {
  position: relative; /* or absolute, fixed, or sticky */
  z-index: 9999; /* any high value */
}

.alert-loading {
  position: fixed;
top: 0;
left: 0;
right: 0;
bottom: 0;
background-color: rgba(128, 128, 128, 0.5); /* semi-transparent grey */
display: flex;
justify-content: center;
align-items: center;
}

.alert-styles {
  background-color: #ffffff;
  width: fit-content;
  padding: 20px;
  margin: 20px;
  border-radius: 5px;
  border: 1px solid #000000;
  margin-inline: auto;
}